

<div class="container mt-3">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" style="color:DodgerBlue;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="register" style="color:DodgerBlue;">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="list" style="color:DodgerBlue;">ListUsers</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <h6 style="color:red;"> A healthcare application is a digital tool used on a mobile phone or tablet PC that collects,
     manages, shares, and stores personal health information to improve health services’ understanding, methodology,
      and delivery. These applications address various health-related needs, from wellness and doctor consultations to 
      health diet management for severe diseases and mental health peace. Users can access these apps from the comfort of 
      their homes or while on the go. Register yourself  and check the corresponding List.</h6>
  <router-outlet></router-outlet>
</div>